@font-color: #333333;

@font-sz:24;
@font-sz-md:27;
@font-sz-lg:34;

@border-color: #d3d3d3;

@bg-color: #f2f2f2;

@base: 40rem;

@base-color: #333333;
@danger-color: #e13c3d;
.font-set(@font-size, @font-clr) {
  font-size: @font-size/@base;
  color: @font-clr;
}

.drag-sort-item {
  width: 168/@base;
  text-align: center;
  line-height: 80/@base;
  font-size: 23/@base;
  display: inline-block;
  color: @font-color;
  border-radius: 2px;
  border: 1px solid #e9e9e9;
  background: @bg-color;
  position: absolute;
}

.drag-sort-item-del {
  width: 40/@base;
  height: 40/@base;
  line-height: 34/@base;
  text-align: center;
  font-size: @font-sz-md/@base;
  color: #ffffff;
  background: rgba(160, 160, 160, 0.8);
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -5px;
  font-style:normal;
}
